*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Navbar color */
.navbar-custom{
  background-color: #ffeed5;
}

.navbar-nav li{
  color: #000000;
  font-family: "Open Sans";
  font-size: 15px;
  text-align: center;
  padding-left: 100px;
}


/* This is the styling for the about us section */
.About_Container{
  background-color: #ffeed5;
}

.About{
  color: #404040;
  text-align: center;
  font-family: "Open Sans";
  font-size: 50px;
}

.ourHistory{
  color: #404040;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
    font-size: 24px;
    font-family: "Open Sans";
}

.historyParagraph{
  color: #404040;
  text-align: center;
  padding-left: 300px;
  padding-right: 300px;
  font-size: 24px;
  font-family: "Open Sans";
}

.childContainer {
  color: #404040;
  display: flex;
  font-family: "Open Sans";
  font-size: 24px;
}

.flex-child {
  flex: 1;
}

.flex-child:first-child {
  margin-right: 20px;
}

.image_div{
  background-color: #E1856C;
  width: 100%;
  height: 350px;
}

.bg_Image{
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url("../images/UH_Google_Maps.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
}

.contact_div{
  padding-top: 50px;
  background-color: #E8E5D2;
  width: 468px;
  height: 500px;
  font-family: "Open Sans";
}

.contact {
  color: #404040;
  text-align: center;
  font-size: 45px;
}

.officeOne{
  color: #404040;
  padding-top: 25px;
  padding-left: 30px;
  font-weight: bolder;
}

.officeTwo{
  color: #404040;
  padding-top: 25px;
  padding-left: 30px;
  font-weight: bolder;
}


.footer{
  background-color: #E1856C;
  width: 100%;
  height: 250px;
}

.footer_child{
  color: #404040;
  text-align: center;
  padding-top: 50px;
  font-family: "Open Sans";
  font-size: 24px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 7px 5px;
  border-radius: 60%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  color: white;
}

.fa-twitter {
  color: white;
}

.fa-linkedin {
  color: #404040;
}

.fa-instagram {
  color: #404040;
}

.copyright{
  color: #404040;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Open Sans";
}
/* This is the end for the styling of the landing page */

/*Styling for the fuel quote form */
.fuel_QForm{
    margin: auto;
    background-color: beige;
    max-width: 350px;
    padding: 20px;
    border-radius: 40px;

}

/*Styling for the fuel quote form */

.request_form{
  min-height: 100vh;
 display: flex;
 align-items: center;
 justify-content: center;
}
.container{
  position:relative;
  max-width: 500px;
  width: 100%;
  border-radius: 6px;
  padding: 10px;
  margin: 0 15px;
  background-color: beige;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

/*css fpr address input */
.Addy{
  display: inline-block;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 4px;
  border: .5px solid;
  margin: 10px 0;
}

/*css for gallons request */
.GallReq{
  display: inline-block;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 4px;
  border: .5px solid;
  margin: 10px 0;
}
/*css for date input */
.DelDate{
  display: inline-block;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 4px;
  border: .5px solid;
  margin: 10px 0;
}

.SUB_Button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 30px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }


  /*This is the footer edits */
  body{
    min-height: 100vh;
  }

  footer{
    position: sticky;
    background: #E1856C;
    top: 100%;
    font-family: "Open Sans";
    padding-top: 10px;
    color: white;
  }

  .footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1rem;
  }

  .footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
  }

  .socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }

  .socials li{
    margin: 0 10px;
  }
  .socials a{
    text-decoration: none;
    color: #fff;
  }
  .socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
  }
  .socials a:hover i{
    color: blue;
  }

  .footer-bottom{
    background: #E1856C;
    width: 100vw;
    padding:1px 0;
    text-align: center;
  }

  .footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
  }

  .footer-bottom span{
    text-transform: uppercase;
    opacity: .7;
    font-weight: 200;
  }


  /* This is the styling for the login and registration pages */
  .container{
    padding-top: 150px;
  }
  form{
    width: 35rem;
    margin: auto;
    color: whitesmoke;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(11, 15, 13, 0.582);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }

  input[type=text], input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  .submit_Button{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  .submit_Button:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  .headingContainer{
    text-align: center;
  }

  .mainContainer{
    padding: 16px;
  }

  .subContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .subContainer a{
    font-size: 16px;
    margin-bottom: 12px;
  }

  span.forgotpsd a {
    float: right;
    color: whitesmoke;
    padding-top: 16px;
  }

.forgotpsd a{
    color: rgb(74, 146, 235);
  }
  
.forgotpsd a:link{
    text-decoration: none;
  }

  .register{
    color: white;
    text-align: center;
  }
  
  .register a{
    color: rgb(74, 146, 235);
  }
  
  .register a:link{
    text-decoration: none;
  }

  /* These are the media queries for the responsiveness of the login page */

  @media screen and (max-width: 600px) {
    form {
      width: 25rem;
    }
  }

  @media screen and (max-width: 400px) {
    form {
      width: 20rem;
    }
  }